<html>
<head>
	<script src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css">
	<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</head>
<body>
	<div class="main-body">
		<div class="login-box">
			<div class="main-title">.refstax</div>
			<div><div>Username</div><div><input type="text" id="username"></div></div>
			<div><div>Password</div><div><input type="password" id="password"></div></div>
			<input type="submit" value="Login or Sign Up" id="submit">
			<div id="info"></div>
		</div>
	</div>
</body>
</html>